.banners {
  &__container {
    padding-top: 40px;
    padding-bottom: 30px;

    @include xs {
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;

    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 33%;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 0.6%;
    }

    @include md {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.banners-article {
  padding: 54px 60px;
  padding-right: 45%;
  min-height: 290px;
  background-color: #e9e4df;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--midseason {
    background-image: url('../../assets/img/midseason.jpg');
  }
  &--summer {
    background-image: url('../../assets/img/summer.jpg');
  }
  &--acces {
    background-image: url('../../assets/img/accessories.jpg');
  }

  &__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
  }

  @include md {
    padding: 50px 20px;
  }

  @include sm {
    padding-right: 150px;
  }
}
