.cart {
  &__link-to-logon {
    display: inline-block;
    background-color: $dark;
    color: $white;
    padding: 10px 35px;
    transition: filter 0.3s;

    &:hover {
      filter: opacity(0.8);
      transition: filter 0.3s;
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 700;
    color: $white;
    background-color: $dark;
    transition: all 0.3s;

    &:hover {
      transition: all 0.3s;
      color: $dark;
      background-color: $gray;
    }
  }

  &__no-user {
    border-left: 1px solid $gray;
    padding-left: 20px;

    p {
      margin-top: 0;
    }
  }
}

.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 100vw;
    height: 1px;
    background-color: rgba($grey, 0.4);
  }

  &__link {
    &--go-back {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  @include sm {
    flex-direction: column;
    padding: 70px 0;
  }
}

.cart-items {
  padding: 10px 20px;
  max-width: 600px;
  width: 100%;

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($grey, 0.3);
      margin-bottom: 15px;
    }

    .product {
      display: flex;

      .cart-image {
        width: 120px;
        height: 140px;
        margin-right: 20px;
      }

      &__title {
        font-size: 16px;
      }

      &__delete {
        align-self: flex-start;
        margin-left: auto;
        position: relative;
        z-index: 100;

        svg {
          width: 16px;
          height: 16px;
        }
      }

      &__price {
        display: inline-block;
        margin-bottom: 15px;
      }

      &__size {
        margin-bottom: 5px;
      }

      &__quantity {
        font-size: 16px;
      }
    }
  }
}

.cart-pay {
  border-left: 1px solid rgba($grey, 0.3);
  padding-left: 20px;

  @include sm {
    padding-left: 0;
    border-left: none;
    border-top: 1px solid rgba($grey, 0.3);
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-top: 0;
  }

  &__span {
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    text-align: center;
  }

  &__btn {
    padding: 10px 33px;
    border-radius: 5px;
    background-color: rgb(81, 155, 96);
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s;

    &:hover {
      transition: background-color 0.3s;
      background-color: rgb(66, 129, 80);
    }
  }
}

.checkout {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  padding: 40px 20px;
  background-color: $white;
  border-radius: 5px;

  &__card {
    margin-bottom: 20px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;

    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.checkout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($dark, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 15px;
  }

  &__label {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;

    span {
      display: inline-block;
      margin-bottom: 7px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__input {
    width: 100%;
    padding: 5px;
  }

  &__btn {
    &--cancel {
      color: $white;
      background-color: $grey;
      border-radius: 5px;
      padding: 10px 30px;
      font-weight: 700;

      &:hover {
        transition: background-color 0.3s;
        background-color: rgba($grey, 0.8);
      }
    }

    &--pay {
      color: $white;
      background-color: rgb(81, 155, 96);
      border-radius: 5px;
      padding: 10px 30px;
      font-weight: 700;

      &:hover {
        transition: background-color 0.3s;
        background-color: rgb(66, 129, 80);
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.cart-text {
  color: $grey;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.1px;
}
