.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.black {
    .logo {
      color: $black;
    }

    .nav__link {
      color: $black;
    }

    .shop-nav__link {
      svg {
        fill: $black;
      }
    }
    .search__btn {
      svg {
        fill: $black;
      }

      input {
        border-color: $black;

        &::placeholder {
          color: $black;
        }
      }
    }
  }

  .logo {
    color: $white;
  }

  .nav__link {
    color: $white;

    @include md {
      display: inline-block;
      color: $dark;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;

    @include xs {
      padding: 20px 15px;
    }
  }

  &__shop-nav {
    // margin-left: 250px;

    @include md {
      margin-left: 0;
    }
  }
}

.logo {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;

  // width: 200px;
  // height: 80px;

  // img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  // @include xs {
  //   width: 90px;
  //   height: 18px;
  // }
}

.nav__close {
  display: none;
}

.catalog-header {
  padding-top: 38px;

  @include xs {
    padding-top: 0;
  }
}

.free-delivery {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1020;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--color-white);
  background-color: #111111;
  font-size: 10px;
  text-transform: uppercase;

  &__btn {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
    }
  }
  @include xs {
    display: none;
  }
}

.card-page {
  .header {
    padding-top: 0;
  }
}

.nav {
  &__close {
    @include md {
      position: absolute;
      right: 10%;
      top: 4%;
    }
  }

  @include md {
    position: fixed;
    left: -150vw;
    top: 0;
    padding: 10% 0;
    width: 80%;
    height: 60%;
    background-color: #fff;
    transition: left 0.3s;
  }

  @include sm {
    padding: 13% 0;
  }

  @include xs {
    padding: 70px 0;
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $white;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $white;
  }

  &.opened {
    &::before {
      background-color: $dark;
    }

    &::after {
      background-color: $dark;
    }

    .burger__line {
      background-color: $dark;
    }
  }

  @include md {
    display: block;
  }
}
