.hero-catalog {
  padding-top: 130px;

  &__slider {
    background-color: #f8f8f8;
    overflow: hidden;
    position: relative;
  }

  &__container {
    position: relative;
  }

  @include xs {
    padding-top: 70px;
  }
}

.catalog-slide {
  padding: 107px 108px;

  &__title {
    font-size: 36px;
    font-weight: 700;
    max-width: 375px;
    margin: 0;
    margin-bottom: 15px;
  }

  &__descr {
    color: var(--color-tundora);
    font-size: 15px;
    line-height: 28px;
    text-align: left;
    max-width: 390px;
    margin-bottom: 40px;
  }

  &__btns {
    display: flex;
    align-items: center;


    @include xs {
      display: block;
      padding-bottom: 70px;
    }
  }

  &__image {
    position: absolute;
    right: 19%;
    bottom: 0;

    @include md {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    font-size: 13px;
    padding: 16px 43px;

    &--dark {
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
      color: var(--color-white);
      transition: all .3s;

      &:hover {
        color: var(--color-dark);
        background-color: transparent;
        border: 1px solid var(--color-dark);
        transition: all .3s;
      }
    }

    &--light {
      background-color: transparent;
      border: 1px solid var(--color-dark);
      transition: all .3s;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-dark);
        border: 1px solid var(--color-dark);
        transition: all .3s;
      }

      @include xs {
        margin-top: 20px;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }


  @include sm {
    padding: 70px;
  }

  @include xs {
    padding: 20px;
  }
}

.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 0;
  top: 0;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
  z-index: 20;
  transition: background-color 0.3s;

  svg {
    width: 35px;
    height: 17px;
    fill: currentColor;
  }

  &:hover {
    background-color: var(--color-dark);
    transition: background-color 0.3s;

    svg {
      fill: var(--color-white);
      transition: fill 0.3s;

    }
  }

  @include sm {
    left: 10px;
  }

  @include xs {
    display: none;
  }
}

.hero-next-btn {
  left: auto;
  right: 30px;

  @include sm {
    right: 10px;
  }
}
