@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Medium.ttf') format('ttf');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Light.ttf') format('ttf');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
