:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #151515;
  --color-gray: #e5e5e3;
  --color-gray: #858585;
  --color-tundora: #454545;
}

$black: #000;
$white: #fff;
$dark: #151515;
$gray: #e5e5e3;
$grey: #858585;
$tundora: #454545;
